@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext) format('woff');
}
