<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导出</title>
    <script src="{{ url_for("static",filename="js/jquery.1.11.1.js") }}"></script>
</head>
<body>
<div>
    <div id="train">
        训练集所占比例<input type="text">
    </div>
    <div id="test">
        测试集所占比例<input type="text">
    </div>
    <button onclick="export_data()">导出</button>
</div>
<script>
    export_data = function () {
        var train = document.getElementById('train');
        train = train.getElementsByTagName('input')[0].value;
        train = parseInt(train);
        var test = document.getElementById('test');
        test = test.getElementsByTagName("input")[0].value;
        test = parseInt(test);
        var url = "/export_by_url/{{ project_id }}/" + train + "/" + test
        window.location.href = url;
    }
</script>
</body>
</html>