<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导出</title>
    <script src="{{ url_for("static",filename="js/jquery.1.11.1.js") }}"></script>
    <style>
    </style>
</head>
<body>
<div>
    <!-- <div id="train">
        训练集所占比例<input type="text">
    </div>
    <div id="test">
        测试集所占比例<input type="text">
    </div>
    <button onclick="export_data()">导出</button> -->
    <div class="export_data">
        <div class="export_data_main">
            <em class="close_export_data close_export">×</em>
            <div class="export_data_line">
                <div class="data_line_left">训练集所占比例：</div>
                <div class="data_line_right"><input type="text" id="train_input" oninput="value=value.replace(/[^\d]/g,'')" placeholder="请输入数字"></div>
            </div>
            <div class="export_data_line">
                <div class="data_line_left">测试集所占比例：</div>
                <div class="data_line_right"><input type="text" id="test_input" oninput="value=value.replace(/[^\d]/g,'')" placeholder="请输入数字"></div>
            </div>
            <p class="export_tips">两个比例和必须&gt;=100</p>
            <button onclick="export_data_new()" class="buttom_btn active">确定</button>
            <button class="buttom_btn close_export">取消</button>
        </div>
    </div>
</div>
<script>
    export_data = function () {
        var train = document.getElementById('train');
        train = train.getElementsByTagName('input')[0].value;
        train = parseInt(train);
        var test = document.getElementById('test');
        test = test.getElementsByTagName("input")[0].value;
        test = parseInt(test);
        var url = "/export_by_url/{{ project_id }}/" + train + "/" + test
        window.location.href = url;
    }
    $(function(){
        $(".close_export").click(function(){
            $(".export_data").css("display","none");
        });
        function export_data_new () {
            var train = $("#train_input").val();
            train = parseInt(train);
            var test = $("#test_input").val();
            test = parseInt(test);
            console.log(train+test)
            if(train+test > 100){
                alert("请输入正确数字！")
            }else{
                var url = "/export_by_url/{{ project_id }}/" + train + "/" + test
                window.location.href = url;
            }
        }
    })
</script>
</body>
</html>