<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        {% import "_macros.html" as macros %}
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/diagnosisNew.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link href="{{ url_for('static',filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <!--滑动条-->
    <script type='text/javascript' src="{{ url_for('static',filename='js/bootstrap-slider.min.js') }}"></script>
    <!--右键菜单-->
    <script type='text/javascript' src="{{ url_for('static',filename='js/menu.js') }}"></script>
    <!--jquery bootstrap下拉插件-->
    <script type='text/javascript' src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}">
    <style>
        .modal-dialog {
            width: 25% !important;
            margin: 30px auto;
        }

        .modal-header {
            padding: 15px;
            border-bottom: 1px solid #675e5e;
        }
    </style>
</head>
<body style="overflow-y:hidden;overflow-x:hidden;position:relative;">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><img src="{{ url_for('static',filename='image/qhtlogo.png') }}" class="qhtlogo"></li>
                <li class="dropdown color">
                    <a href="#" class="dropdown-toggle text fontte" data-toggle="dropdown">
                        文件 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">上传文件</a></li>
                        <li><a href="#">导出数据</a></li>
                        <li><a href="#">新建项目</a></li>
                    </ul>
                </li>
                <li><a href="#" class="text fontte buttonfirstb">工具</a></li>
                <li><a href="#" class="text fontte">帮助</a></li>
                <!-- <li><a href="#" class="text fontte" id="export_coordinate">导出坐标</a></li> -->
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand text" href="#">北医三院共聚焦项目标注工具V1.0</a>
        </ul>
    </div>
</nav>
<div class="main">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="container-fluid body_container">
    <h3 class="title" style="position:relative;">
        <span id="returntitle" title="返回上一级">北医三院位置标注/</span>
        <div class="return_pre">
            <a href="{{ url_for('.patients',project_id=proID) }}" class="">
                <<返回上一级
            </a>
        </div>
    </h3>
    <div class="row" style="padding-top:30px;">
        {% for x in records %}
        <div id="floder{{ x.id }}" class="floder_container" title={{x.create_time}}>
            <div class="files-floder"></div>
            <p  class="white" style="text-align:center;" contenteditable="true">{{ x.name }}</p>
        </div>
        {% endfor %}
        <div class="floder_container">
            <div class="upload_" style="text-align:center;">
                <a class="input-file input-fileup" href="javascript:;"><span class="glyphicon glyphicon-plus"
                                                                             style="font-size:100px;"></span>
                    <input type="file" name="file" id="fileFolder" webkitdirectory>
                </a>
                <!-- <a class="add"><span class="glyphicon glyphicon-plus" style="font-size:100px;"></span></a>-->
                <!-- <p class="white">上传文件</p> -->
            </div>
        </div>
    <div class="am-fr">
    <div class="am-pagination tpl-pagination">
        {{ macros.pagination_widget(pagination,'.folder',pro_id=proID,patient_id=id) }}
    </div>
</div>
        <!-- <input id="fileFolder" name="fileFolder" type="file" webkitdirectory> -->
        <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                           &times;
                       </button>
                       <h4 class="modal-title" id="myModalLabel" style="text-align:center;">
                           新建文件
                       </h4>
                   </div>
                   <div class="modal-body">

                 <p>文件夹名称</p>
                 <input type="text" id="upload_name">
                 <p style="margin-top:20px;">文件夹路径</p>
                 <a class="input-file input-fileup" href="javascript:;">
                    + 选择文件夹<input type="file" name="file" id="fileFolder" webkitdirectory>
                 </a>
                 <div class="showFileName1"></div>
                 <p id="record_id" style="margin-top:20px;">病例号：(自动识别)</p>
                 <p id="check_id" style="margin-top:20px;">检查号：(自动识别)</p>

                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                       </button>
                       <button type="button" class="btn btn-primary" id="upload_floder">
                           上传
                       </button>
                   </div>
               </div>
           </div>
       </div> -->
    </div>
</div>
<div class="content_menu">
    <ul class="contextmenu">
        <li><a href="#">复制</a></li>
        <li><a href="#">删除</a></li>
    </ul>
</div>

<script>
    $(function () {
        $(".input-fileup").on("change", "input[type='file']", function () {
            var files = this.files;
            console.log(files);
            console.log(files[3].name)
            $(".fileerrorTip1").html("").hide();
            $(".showFileName1").html(files.length + "张文件");

        })
    })
</script>
<script src="{{ url_for('static',filename='js/floderData.js') }}"></script>
<script>
    var upload_url = "";
    $(document).ready(function () {
        upload_url = "{{url_for('main.upload',id=id,pro_id=proID)}}";
    });
</script>
<script>
    {% for x in records %}
        $("#floder{{ x.id }}").on("click", function () {
            window.location.href ="{{ url_for('.tool',record_id=x.id) }}";
        });
    {% endfor %}
</script>
</body>
</html>
