<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% import "_macros.html" as macros %}
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/diagnosisNew.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
    <link href="{{ url_for('static',filename='css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <!--滑动条-->
    <script type='text/javascript' src="{{ url_for('static',filename='js/bootstrap-slider.min.js') }}"></script>
    <!--jquery bootstrap下拉插件-->
    <script type='text/javascript' src="{{ url_for('static',filename='js/bootstrap-select.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <style>
        .modal-dialog {
            width: 700px !important;
            margin: 30px auto;
        }

        .modal-header {
            padding: 15px;
            border-bottom: 1px solid #675e5e;
        }

        #content1 .dropdown-menu {
            background-color: white !important;
        }

        .dropdown-menu > li > a:focus, .dropdown-menu > li > a > span {
            color: #5d5d5d !important;

        }

        .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
            color: #262626;
            text-decoration: none;
            background-color: #b6ddef !important;
        }
    </style>
</head>
<body style="overflow-y:hidden;overflow-x:hidden;position:relative;">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><img src="{{ url_for('static',filename='image/qhtlogo.png') }}" class="qhtlogo"></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-brand text">欢迎您，{{ current_user.username }}&nbsp;&nbsp;&nbsp;|</li>
            <a class="navbar-brand text" href="{{ url_for('auth.logout') }}">退出登录</a>
        </ul>
    </div>
</nav>
<div class="container-fluid body_container">
<h3 class="title">所有项目</h3>
    <div class="row" style="padding-top:30px;">
        {% for pro in projects %}
            <div class="col-md-2">
                <div class="project" id="floder{{ pro.id }}">
                    <h4 class="white">项目名称：{{ pro.name }}</h4>
                    <p class="white">项目类型: {{ pro.project_type.name }}</p>
                    <p class="white">创建时间：{{ _str(pro.create_time)[:7] }}</p>
                    <a class="remove" href="javascript:;" onClick="event.cancelBubble = true"><span class="glyphicon glyphicon-remove"></span></a>
                    <span class="hidden_span">{{ url_for("main.delete_project",project_id=pro.id) }}</span>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-2">
            <a href="{{ url_for("main.create_project1") }}" class="project" style="text-align:center; display: block;">
                <div class="add"><span class="glyphicon glyphicon-plus-sign"></span></div>
                <p class="white">新建标注项目</p>
            </a>
        </div>
    </div>
    <div class="am-fr">
        <div class="am-pagination tpl-pagination">
            {{ macros.pagination_widget(pagination,'main.project') }}
        </div>
    </div>
</div>
<div class="del_warp">
    <div class="del_pop">
        <em class="close_pop close_btn">×</em>
        <p class="pop_text">是否确认删除？</p>
        <a href="" class="buttom_btn">确定</a>
        <button class="buttom_btn close_btn">取消</button>
    </div>
</div>
<!-- 选择文件夹弹窗 -->
<div class="choice_folder" style="display:none;">
    <div class="choice_folder_main">
        <em class="close_choice_folder">×</em>
        <p class="choice_title">请选择要打开的文件夹：</p>
        <select class="choice_select">
            <option>文件夹1</option>
            <option>文件夹2</option>
        </select>
    </div>
</div>
<script src="{{ url_for('static',filename='js/projectData.js') }}"></script>
<script>
    // 高度与点击切换
    var clientheight = document.documentElement.clientHeight;
    $(".body_container").get(0).style.height = clientheight - 52 + "px";
    {% for pro in projects %}
        $(".body_container").get(0).style.height = clientheight - 52 + "px";
        $("#floder{{ pro.id }}").on("click", function () {
            window.location.href = "{{ url_for('.ptool',project_id=pro.id) }}";
        });
    {% endfor %}
    $(".remove").click(function () {
        var del_href = $(this).siblings("span.hidden_span").text();
        $(".del_warp").css("display", "block");
        $("a.buttom_btn").attr("href", del_href);
    });
    $(".close_btn").click(function () {
        $(".del_warp").css("display", "none");
    });
    $(".close_choice_folder").click(function(){
        $(".choice_folder").css("display","none");
    });
</script>
</body>
</html>
