<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/position_js/image_navigation.js') }}"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/position_css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/position_css/diagnosisNew.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='css/position_css/font-awesome.min.css') }}">
    <link href="{{ url_for('static',filename='css/position_css/bootstrap-slider.min.css') }}" rel="stylesheet">
    <script type='text/javascript'
            src="{{ url_for('static',filename='js/position_js/bootstrap-slider.min.js') }}"></script>
    <style>
        #glasscan {
            display: none;
            border: 1px solid #ccc;
            border-radius: 101px;
            -webkit-border-radius: 101px;
            -o-border-radius: 101px;
            -moz-border-radius: 101px;
            position: absolute;
        }

        .little_img {
            width: 20%;
            height: 90%;
            float: left;
        }
    </style>
</head>
<!--圣杯布局-->
<body style="overflow-y:hidden;overflow-x:hidden;position:relative;">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><img src="{{ url_for('static',filename='image/qhtlogo.png') }}" class="qhtlogo"></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <a class="navbar-brand text" href="{{ url_for('.project') }}"><
                <返回
            </a>
            <li class="navbar-brand text">欢迎您，{{ current_user.username }}&nbsp;&nbsp;&nbsp;|</li>
            <a class="navbar-brand text" href="{{ url_for('auth.logout') }}">退出登录</a>
        </ul>
    </div>
</nav>
<div id="container">
    <div class="right_Tool">
        <div class="canvas_model">
            <canvas id="canvas" style="position:absolute;z-index:0;"></canvas>
            <canvas id="canvas_rect" style="position:absolute;z-index:2;"></canvas>
            <canvas id="canvas_line" style="position:absolute;z-index:1;"></canvas>
            <canvas id="canvas_bezier" style="position:absolute;z-index:-1;"></canvas>
            <canvas id="glasscan" width="150" height="150"></canvas>

        </div>
        <div class="thumb_model" style="position:relative;">
            <div style="float: left;width:5%;height: 150px;"><img width="100%" height="100%" onclick="viewPrev()"
                                                                  src="{{ url_for('static',filename='image/prev.png') }}">
            </div>
            <div class="bottom_left" style="float:left; width:60%; height:150px;">
                <div id="little_images">
                </div>
            </div>
            <div style="float: left;width:5%;height: 150px;"><img width="100%" height="100%" onclick="viewNext()"
                                                                  src="{{ url_for('static',filename='image/next.png') }}">
            </div>
            <div class="bottom_right" style="float:right; width:30%; min-width:200px;">
                <!-- <input type="range" id="vertical" min="-500" max="500" value="0" oninput="vertical()" onchange="vertical()" title="垂直方向移动查看图像">
                <input type="range" id="horizontal"   min="-1000" max="1000" value="0" oninput="horizontal()" onchange="horizontal()" title="水平方向移动查看图像"> -->
                <button type="button" id="history_dic" data-toggle="modal" data-target="#myModal"
                        title="查看当前图像集已保存的标注记录"></button>
                <button type="button" id="save_as" title="保存当前图片坐标点信息"></button>
            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">历史标注信息</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped" style="table-layout:fixed;">
                                <thead>
                                <tr>
                                    <th style="text-align:center;">图像名称</th>
                                    <th style="text-align:center;">标注结果</th>
                                    <!-- <th style="text-align:center;">标注时间</th> -->
                                </tr>
                                </thead>
                                <tbody id="history_model">
                                <!-- <tr v-for="item in items">
                                    <td>{[item.imgname]}</td>
                                    <td id="history_model_sign">{[item.sign]}</td>
                                    <td>{[item.time]}</td>
                                </tr> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <a href="{{ url_for("main.export",project_id=project.id) }}" target="_blank"
                               class="btn btn-primary">导出数据</a>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <input id="horizontal01" type="text" data-slider-min="-1000" data-slider-max="1000" data-slider-step="20"/>
            <input id="vertical01" type="text" data-slider-min="-1000" data-slider-max="1000" data-slider-step="10"
                   data-slider-orientation="vertical"/>
            <button type="button" id="print" class="btn btn-primary">绘制</button>
            <button type="button" id="clear" class="btn btn-primary">清空</button>
            <!-- 标记进度条 -->
            <div id="scrollBar">
                <!-- 已完成部分 -->
                <div id="scroll_Track"></div>
            </div>
            <p id="scrollBarTxt" style="text-align:center;"></p>
        </div>
    </div>
    <div class="left_Tool">
        <div class="move_Tool">
            <div class="tool_div first_tool ">
                <a type="button" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb" id="enlargement"
                   style="text-decoration:none;" aria-expanded="false">
                    <i class="fa fa-search-plus fa-2x"></i>
                    <span class="toolbar-text">放大</span>
                </a>
            </div>
            <div class="tool_div first_tool ">
                <a type="button" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb" id="shrink"
                   style="text-decoration:none;" aria-expanded="false">
                    <i class="fa fa-search-minus fa-2x"></i>
                    <span class="toolbar-text">缩小</span>
                </a>
            </div>
            {#            <div class="tool_div">#}
            {#                <a type="button" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb" id="deleteTool"#}
            {#                   style="text-decoration:none;" aria-expanded="false">#}
            {#                    <i class="fa fa-file-excel-o fa-2x"></i>#}
            {#                    <span class="toolbar-text">删除</span>#}
            {#                </a>#}
            {#            </div>#}
        </div>
        <div class="sign_Tool">
            <div class="tool_div">
                <a type="button" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb" id="RectEdit"
                   style="text-decoration:none;" aria-expanded="false">
                    <i class="fa fa-square-o fa-2x"></i>
                    <span class="toolbar-text">矩形</span>
                </a>
            </div>
            <!-- <div class="tool_div">
              <a type="button" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb" id="LineEdit" style="text-decoration:none;"  aria-expanded="false">
                <i class="fa fa-star-half-full fa-2x"></i>
                  <span class="toolbar-text">多边形</span>
              </a>
            </div> -->
            <div class="tool_div">
                <a type="button" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb" id="glass"
                   style="text-decoration:none;" aria-expanded="false">
                    <i class="fa fa-star-half-full fa-2x"></i>
                    <span class="toolbar-text">放大镜</span>
                </a>
            </div>
            <!-- <div class="tool_div">
              <a type="button" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb" id="bezier_div" style="text-decoration:none;"  aria-expanded="false">
                <i class="fa fa-star-half-full fa-2x"></i>
                  <span class="toolbar-text">曲线</span>
              </a>
            </div> -->
        </div>
        <div class="img_Tool">
            <div class="tool_div">
                <a type="button" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb" id="previous"
                   style="text-decoration:none;" aria-expanded="false">
                    <i class="fa fa-hand-o-left fa-2x"></i>
                    <span class="toolbar-text">上一张</span>
                </a>
            </div>
            <div class="tool_div">
                <a type="button" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb" id="next"
                   style="text-decoration:none;" aria-expanded="false">
                    <i class="fa fa-hand-o-right fa-2x"></i>
                    <span class="toolbar-text">下一张</span>
                </a>
            </div>
        </div>
        <div class="img_Tool">
            <div class="tool_div">
                <a href="{{ url_for("main.add_photos",p_id=project.id) }}" class="abun btn btn-link dropdown-toggle  btn-lg buttonfirstb"
                   style="text-decoration:none;" aria-expanded="false">
                    <i class="fa fa-hand-o-left fa-2x"></i>
                    <span class="toolbar-text">添加图片</span>
                </a>
            </div>
        </div>
    </div>
    <div class="right_context">
        <div id="sign_history">
            <p style="color:white;">标注记录</p>
        </div>
        <div style="text-align:center;margin-bottom:20px;">
            <a id="if_Draw" style="color:white;">隐藏</a>
        </div>
        <ol id="sign_context">
            <li v-for="item in items" :id="item.id" class="sign_text" @mouseover="mouseover" @mouseleave="mouseleave">
                {[item.classify]}
            </li>
        </ol>
    </div>
    <div class="tool_tip">
        <p class="input_Txt">设置标注名称：</p>
        <input type="text" id="sign_name" placeholder="填写标注名称(*不可重复)">
        <p class="input_Txt">设置标注分类：</p>
        <!-- 根据分类数组动态显示下拉列表 -->
        <select id="classify" placeholder="手动输入或下拉选择分类">
            {% for x in label_types %}
                <option value='{{ x.id }}'>{{ x.name }}</option>
            {% endfor %}
        </select>
        <button type="button" id="success" class="btn btn-success">确定</button>
        <button type="button" id="remove_rect" class="btn btn-default">取消</button>
    </div>
    <div class="theme-popover-mask"></div>
</div>
<script>
    var _marked;
    var _image_count;
    var dictionary = [];
    /* 点坐标信息数据*/
    //所有绘制元素信息的总类
    var sign_Information = [];
    //标注记录列表绑定的vue数组，与rect数组同步更新
    var sign_context;
    //上传界面创建分类数组，动态绑定到弹出框分类
    var sign_class;
    var sign_class_get = [
        {classify: "CT"}, {classify: "B超"}, {classify: "尘肺"}, {classify: "花鸟鱼虫"}
    ];
    //标注模态框Vue
    var history_model;
    /*<-->*/

    /*图像数据------*/
    //图像上传数组
    var img_files = [];
    //缩放比例
    var scale = 1;
    var imgX = 0;
    var imgY = 0;
    //居中显示图像
    var img_PaddingTop = 0;
    var img_Paddingleft = 0;
    //当前图像索引
    var current_index = 0;
    /*<-->*/
    //标注信息对应的polygon_array的索引，vue用
    //避免输入矩形框name为数字与此index冲突，indexvue变为字符串加入特定的标记
    var indexCircesofVue = "";
    var indexRectesofVue = "";
    //切换按钮
    var isRectEdit = false;
    var isLineEdit = false;
    //横向滑动
    var slider_horizontal = document.getElementById("horizontal");
    //纵向滑动
    var slider_vertical = document.getElementById("vertical");
    //页面加载
    var _marked;
    var _image_count;
    var p_id;
    $(document).ready(function () {
        _marked = {{ project.photos.filter_by(labeled=True).count() }};
        _image_count = {{ project.photos.count() }};
        p_id = {{ project.id }}
            $("#scroll_Track").css("width", ((_marked / _image_count) * 100) + "%");
        $("#scrollBarTxt").html(_marked + "/" + _image_count);
        //图像数组
        img_files = [{% for x in project.photos.all() %} "{{url_for('.img',photo_id=x.id)}}",{% endfor %}]
        isRectEdit = true;
        //3个工具参数
        inclientHeight(3);
        //加载第一张
        imageLoad(0);
        mouseRect();
        Draw_Line();
        //vue v-for动态绑定点信息
        sign_context = new Vue({
            el: '#sign_context',
            delimiters: ['{[', ']}'],
            data: {
                items: [
                    /*开始为空，
                    若后台加载当前已标注的信息，则使用vue特有的push方法重新循环push加载的数组
                    example1.items.push(array[index])*/
                    // { name: 'Foo',id:"0" },
                    // { name: 'Bar',id:"1" }
                ]
            },
            methods: {
                /*绑定v-for动态创建元素的hover事件，不绑定的话jquery对vue创建元素的hover失效*/
                mouseover(event) {

                    let el = event.target;
                    let id = el.getAttribute('id');
                    var indexId = parseInt(id);
                    if (id.substr(id.length - 6, 6) == "Rectes") {
                        //返回hover元素的数组索引
                        //因为鼠标点击时，会将某一个元素select设置为true,下面要根据select绘制，所以先将所有isselect设置为false
                        /*当前是矩形数组，当多种工具的时候，全部加入sign_Information数组，并为数组中每一个对象设立isSelect，这样就完全脱离rects数组了，所有操作只针对于sign_Information数组
                        此版本第一版只有rects交互，多工具全部信息加入sign_Information数组*/
                        for (var i = 0; i < rects.length; i++) {
                            rects[i].isSelected = false;
                        }
                        // 将hover id对应的rect isSelected设置为true
                        rects[indexId].isSelected = true;
                        //刷新画布
                        refush(rects);
                    }
                    else {
                        refush_circleLine(indexId);
                    }
                },
                mouseleave(event) {
                    for (var i = 0; i < rects.length; i++) {
                        rects[i].isSelected = false;
                    }
                    refush(rects);
                    refush_circleLineDisable();
                }

            }
        });
        history_model = new Vue({
            el: '#history_model',
            delimiters: ['{[', ']}'],
            data: {
                items: [
                    /*开始为空，
                    若后台加载当前已标注的信息，则使用vue特有的push方法重新循环push加载的数组
                    example1.items.push(array[index])*/
                    // { name: 'Foo',id:"0" },
                    // { name: 'Bar',id:"1" }
                ]
            }
        });
        sign_class = new Vue({
            el: '#classify',
            delimiters: ['{[', ']}'],
            data: {
                items: []
            }
        });
        //根据分类动态创建下拉列表
        for (var i = 0; i < sign_class_get.length; i++) {
            sign_class.items.push(sign_class_get[i]);
        }
        $("#vertical01").slider({
            value: 0,
            formatter: function (value) {
                return '垂直偏移量： ' + value;
            }
        }).on('slide', function (slideEvt) {
            //当滚动时触发
            //console.info(slideEvt);
            //获取当前滚动的值，可能有重复
            // console.info(slideEvt.value);
        }).on('change', function (e) {
            //当值发生改变的时候触发
            //console.info(e);
            //获取旧值和新值
            vertical(e.value.newValue);
        });
        $("#horizontal01").slider({
            value: 0,
            formatter: function (value) {
                return '水平偏移量： ' + (-value);
            }
        }).on('slide', function (slideEvt) {
            //当滚动时触发
            //console.info(slideEvt);
            //获取当前滚动的值，可能有重复
            // console.info(slideEvt.value);
        }).on('change', function (e) {
            //当值发生改变的时候触发
            //console.info(e);
            //获取旧值和新值
            horizontal(e.value.newValue);
        });
        createImgNavi();
    });

    //所有点的数组，目前只包括矩形，后续加入多边形等
    function sign_info(cls, name, start_x, start_y, end_x, end_y) {
        this.type = "rect";
        this.classify = cls;
        this.name = name;
        this.start_x = start_x;
        this.start_y = start_y;
        this.end_x = end_x;
        this.end_y = end_y;
        /*当前鼠标点击元素和标注信息的hover事件全部使用的rects进行判定，后续加入其他工具时，要把所有点信息加入
          sign_Information,取消rects和points的操作。
          因为rect对象的参数不同，可分对象创建，类似于thumb.js中监测点的json数组
          /*photos
          [{'points（rect）': [{'point_x': '97', 'point_y': '231'}, {'point_x': '125', 'point_y': '261'}], 'photo_name(多边形也设置数组对象)': '/uploads/ff3bdf6e2e9aee1fcefd9b19abac/7658de5874/ac46a57fedaa50b45023.dcm', 'accs': ['51.077%']},{..},{.}]
          */
        // this.isSelected==false;
    };

    function points_abc(a, b, c) {
        this.a = a;
        this.b = b;
        this.c = c;
    };

    // function array01(array){
    //  this.array=array;
    // };
</script>
<script src="{{ url_for('static',filename='js/position_js/clientHeight.js') }}"></script>
<script src="{{ url_for('static',filename='js/position_js/draw.js') }}"></script>
<script src="{{ url_for('static',filename='js/position_js/mouse_rect.js') }}"></script>
<script src="{{ url_for('static',filename='js/position_js/mouse_LineCircle.js') }}"></script>
<script src="{{ url_for('static',filename='js/position_js/leftTool.js') }}"></script>
<script src="{{ url_for('static',filename='js/position_js/glass.js') }}"></script>
<script src="{{ url_for('static',filename='js/position_js/playground.js') }}"></script>
</body>
</html>
